/* ------------------------------------------------------------------------- */
@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 100;
    src: url("font/Vazir-Light.eot");
    src: url("font/Vazir-Light.woff") format('woff'), url("font/Vazir-Light.ttf") format('ttf'),
        url("font/Vazir-Light.woff2") format('woff2');
}

@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 400;
    src: url("font/Vazir-Regular.eot");
    src: url("font/Vazir-Regular.woff") format('woff'), url("font/Vazir-Regular.ttf") format('ttf'),
        url("font/Vazir-Regular.woff2") format('woff2');
}

@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 950;
    src: url("font/Vazir-Black.eot");
    src: url("font/Vazir-Black.woff") format('woff'), url("font/Vazir-Black.ttf") format('ttf'),
        url("font/Vazir-Black.woff2") format('woff2');
}

/* ------------------------------------------------------------------------- */
* {
    direction: rtl;
    font-family: vazir;
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------------------------------- */
#header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    box-shadow: 2px 2px 20px 0px rgb(126, 2, 2);

}

#logo {
    width: 50px;
    height: 50px;
    display: flex;
    border: 2px solid rgb(9, 69, 97);
    border-radius: 40%;
    padding: 2px;
    margin-left: 8px;
}

#top-name {
    display: flex;
    align-items: center;
    font-size: 27px;
    font-weight: 950;
    padding: 8px;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

.shortcut {
    color: black;
    font-size: 20px;
    text-align: center;
    margin: 10px 14px;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.shortcut:hover {
    color: rgb(174, 5, 5);
    border-bottom: 2px solid rgb(9, 69, 97);
}


/* ------------------------------------------------------------------------- */


.first-page {
    display: flex;
    height: 450px;
    align-items: center;
    justify-content: space-between;
    /* background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(255, 0, 0) ); */

}

.text {
    margin-right: 100px;
    margin-top: 40px;
    align-items: center;
}

#name {
    width: 100%;
    font-size: 50px;
    font-weight: 950;
    padding-left: 40px;
    color: rgb(174, 5, 5);
    border-bottom: 4px solid rgb(9, 69, 97);
}

#welcome {
    font-size: 25px;
    font-weight: 500;
    padding-top: 30px;
    min-width: 323px;
}

#chicken {
    width: 410px;
    height: 520px;
    margin-top: 200px;
    align-items: center;

}

/* ---------------------------------------------- */
#design {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 270px 0 20px;
}

.line {
    width: 4px;
    height: 180px;
    background-color: black;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-image: linear-gradient(rgb(9, 69, 97), rgb(126, 2, 2));
}

.circle {
    margin-left: 30px;
    border: 1px dotted rgb(0, 0, 0);
    box-shadow: 2px 2px 20px 3px rgb(126, 2, 2);
    background-color: rgb(126, 2, 2);
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin-bottom: 20px;
}

.circle2 {
    background-image: linear-gradient(rgb(126, 2, 2), rgb(126, 2, 2), rgb(9, 69, 97));
    box-shadow: 2px 2px 20px 3px rgb(143, 9, 9);
}

.circle3 {
    background-image: linear-gradient(rgb(126, 2, 2), rgb(9, 69, 97), rgb(9, 69, 97));
    box-shadow: 2px 2px 20px 3px rgb(9, 69, 97);
}

.circle4 {
    background-color: rgb(9, 69, 97);
    box-shadow: 2px 2px 20px 3px rgb(9, 69, 97);
    margin-bottom: 0;
}

.menu-button {
    font-size: 20px;
    font-weight: 500;
    width: 250px;
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
    border-color: rgb(9, 69, 97);
    padding: 10px;
    transition: 2s;
    cursor: pointer;
}

.sell-button {
    width: 110px;
    padding: 8px;
    font-size: 16px;
    margin-top: 20px;
    color: whitesmoke;
    border-radius: 10px;
    background-color: rgb(9, 69, 97);
    border: none;
    cursor: pointer;
}

.branch-button {
    width: 110px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgb(174, 5, 5);
}

/* ---------------------------------------------------------------------------------------- */
.svg-menu {
    margin-left: 5px;
    margin-top: 1px;
}

.section1 {
    font-size: 13px;
    font-weight: 100;
    display: flex;
    align-items: center;
    margin: 170px 20px 20px;
    border-bottom: 4px solid rgb(174, 5, 5);
}

/* ------------------------------------------------------------------------------- */
.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.image {
    max-width: 180px;
    height: 200;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: none;
    transition: 0.4s;
}

.contents {
    padding-top: 8px;
    font-size: 14px;
    display: none;
    transition: 10s;
}

.image:hover .contents {
    display: block;
}

.food-svg {
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
}

.pointer-svg {
    margin-bottom: 4px;
}

.image:hover .pointer-svg {
    transform: rotate(269deg);
}

.image:hover {
    box-shadow: 2px 2px 15px 2px rgb(9, 69, 97);
}


.pic {
    width: 180px;
    height: 150px;
    border-radius: 5px;
}

.detail {
    margin: 10px 4px;
}

.food-name {
    margin-right: 5px;
    font-size: 18px;
    padding-bottom: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

/* ------------------------------------------------------------------------------- */
.section2 {
    margin: 20px 20px 20px;
}

/* ------------------------------------------------------------------------------ */
#footer {
    background-image: linear-gradient(to bottom right, rgb(245, 73, 73), rgb(17, 104, 145));
    border-top: 2px solid rgb(126, 2, 2);
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about {
    max-width: 280px;
    margin-right: 10px;
    margin-top: 8px;
}

#footer-zereshk {
    font-size: 22px;
    padding-bottom: 4px;
    padding-right: 4px;
    border-bottom: 3px solid rgb(126, 2, 2);
}

#about-paragraph {
    line-height: 24px;
    text-align: justify;
    margin-top: 14px;
    padding-right: 5px;
}

#footer-image {
    width: 280px;
    height: 280px;
    margin: 20px 20px 0px;
}

/* --------------------------------------------------------------------- */
#head-contact {
    font-size: 22px;
    border-bottom: 3px solid rgb(126, 2, 2);
    margin-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 32px;
    font-size: 17px;
}

.contact-svg {
    transform: rotate(255deg);
    margin-left: 4px;
}

.call {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 8px;
    transition: 0.2s;
}

.mail-svg {
    margin-left: 4px;
}

.call:hover {
    text-decoration: underline;
    color: rgb(126, 2, 2);
}

.text-us {
    direction: ltr;
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 8px;
    transition: 0.2s;
}

.text-us:hover {
    text-decoration: underline;
    color: rgb(126, 2, 2);
}

.text-svg {
    margin-right: 4px;
}

.direction {
    max-width: 280px;
    padding-top: 12px;

}

#direction-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3px solid rgb(126, 2, 2);
    padding-bottom: 6px;
}

.direction-svg {
    padding-left: 3px;
}

#text-direction {
    font-size: 22px;
}

#address-dir {
    font-size: 16px;
    line-height: 24px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#map {
    height: 130px;
    width: 250px;

}

/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */

#table-border {
    border: 2px dashed rgb(126, 9, 9);
    width: 650px;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 24px;
}

#head-bill {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    border-bottom: 2px solid rgb(5, 101, 139);
    margin: 20px 40px 0px 40px;
    padding-bottom: 8px;
}

#head-svg {
    width: 30px;
    height: 30px;
    margin-bottom: 5px
}

.list-svg {
    vertical-align: baseline;
    transform: rotate(180deg);
    margin-left: 3px;

}

.caption {
    font-size: 18px;
    text-align: right;
    font-weight: 950;
    margin-top: 20px;
    margin-bottom: 8px;
}

.cap-info {
    font-size: 18px;
    text-align: right;
    font-weight: 950;
    margin-top: 45px;
    margin-bottom: 8px;
}

/* ------------------------------------------------------------------------- */
table,
th,
td {

    border: 1px solid rgb(5, 101, 139);
    border-collapse: collapse;
    text-align: center;
    padding: 8px 5px;
    margin: 0 auto;
}

table {
    width: 520px;
}

#count {
    width: 40px;
}

.last-column {
    color: rgb(187, 31, 31);
    font-weight: 950;
}

.edit {
    padding-right: 8px;
    cursor: pointer;
}

.edit :hover {
    color: rgb(221, 41, 41);

}

#button {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 650px;
    margin-bottom: 30px;
}

#order-button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    background-color: rgb(5, 101, 139);
    color: whitesmoke;
    border-radius: 5px;
    border: none;
    margin-left: 100px;
    cursor: pointer;
}

#print-button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    background-color: rgb(126, 9, 9);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}